body {
    background-color: #CFF5F9;
}

home {
    cursor: pointer
}

h1 {
    margin-top: 5px;
    color: darkblue;
    font-size: 35px;
    font-family: "Playfair Display", serif;
    text-align: center;
}

table {
    width: 100%;
    margin-top: 15px;
    font-family: "helvetica";
    border-top: 4px solid cyan;
    border-left: 4px solid cyan;
    border-right: 4px solid cyan;
    border-bottom: 4px solid cyan;
    border-spacing: 0;
    margin: auto;
    text-align: center;
}

th {
    height: 100px;
    background-color: darkcyan;
    font-size: large;
    text-align: center;
    border: 1px solid black;
    font-family: "arial";
}

td {
    height: 100px;
    background-color: beige;
    font-size: medium;
    border: 1px solid black;
    font-family: "arial";
}

.busq {
    color: darkcyan;
    font-size: 25px;
    font-family: "Open Sans", sans-serif;
}

input[type=text] {
    font-family: Courier New;
    font-size: 15px;
    margin-left: 20px;
    margin-bottom: 10px;
    width: 320px;
    box-sizing: border-box;
    border: 2px solid cyan;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 40%;
}